<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include $_SERVER["DOCUMENT_ROOT"]."/views/public/css.html" ?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/views/static/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <form action="" class="col-xs-offset-1 col-xs-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" name="tc_name" class="form-control" placeholder="用户名">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" name="tc_pass" class="form-control" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>
    
    <?php include $_SERVER["DOCUMENT_ROOT"]."/views/public/js.html" ?>

    <script>
        $(function(){
            //获取登录按钮，并注册点击事件
            //可以给按钮添加一个id来获取按钮，但是我们给form表单注册提交事件来实现
            $("form").submit(function(){
                //校验用户输入是否合法
                if($("input[name=tc_name]").val().trim()==""){
                    alert("请输入用户名");
                    return false;
                };
                if($("input[name=tc_pass]").val().trim()==""){
                    alert("请输入密码");
                    return false;
                }
                //获取用户输入,表单序列化
                var data=$(this).serialize() ;
                //将用户输入的内容发送给接口api进行登录
                $.ajax({
                    url:"/api/login",
                    type:"post",
                    data:data,
                    success:function(data){
                        // console.log(data);
                       
                        if(data.code==200){
                            //先将后台返回的数据存到cookie中
                            $.cookie("userinfo",JSON.stringify(data.result),{path:"/",expires:365});
                             //如果用户登录成功，跳转页面
                            location.href="/";

                        }
                    }
                })
                //阻止默认事件，不让表单自己提交，因为我们要发送ajax请求
                return false;
            })
        })
    </script>
</body>
</html>